.user-chat {
    display: flex;
    justify-content: end;
    align-items: start;
}

.robot-chat {
    display: flex;
    align-items: start;
}

.chat-message-text {
    background-color: rgb(238, 238, 238);
    padding: 15px 20px;
    border-radius: 12px;
    font-size: 15px;

}