.chat-message-text {
    background-color: rgb(223, 223, 223);
    padding: 15px 20px;
    border-radius: 12px;
    font-size: 15px;

}
.user-chat {
    display: flex;
    justify-content: end;
    align-items: start;
    margin-bottom: 16px;
}

.robot-chat {
    display: flex;
    align-items: start;
    margin-bottom: 16px;
}

img{
    margin: 0px 5px;
}